*{
    margin: 0;
}
.top{
    height: 69vh;
    width: 100vw;
    background-color: #FFCD9E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}
.topleft{
    margin: 40px;
    padding-left: 100px;
    padding-top: 20px;
}
#input_ar{
    height: 25px;
    border-color: black;
}
#button{
    height: 27px;
    background-color: black;
    color: #FFF;
}
.topleft h1{
    color: black;
    margin-bottom: 20px;
}
.topleft p{
    margin-bottom: 20px;
    color: black;
    font-family: inter;
}
#lasttxt{
    color: white;
}
.topright{
    padding-right: 120px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.footer{
    height: 31vh;
    width: 100vw;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottomleft{
    padding-top: 30px;
    padding-left: 130px;
    
}
.bottomright{
    padding-right: 180px;
    padding-top: 30px;
}
#leftlist{
    padding: 10px;
    list-style: none;
    color: #FFF;
    font-style: normal;
}
#leftlist li{
    
    margin-bottom: 8px;
}
#rightlist{
    padding: 10px;
    list-style: none;
    color: #FFF;
    text-align: right;
}
#rightlist li{
    margin-bottom: 8px;
    cursor: pointer;
}
